body {
    font-family: "Roboto", sans-serif;
    color: #222222;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

#result,
#result2,
#result3,
#result4,
#result4,
#result5,
#remainder {
    font-size: 24px;
    color: red;
}

button {
    background-color: #222222;
    font-size: 14px;
    color: white;
    padding: 14px;
    outline: none;
    border: 0;
    border-radius: 9999px;
}