body {
    font-family: system-ui;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 16px;
}

h2 {
    font-family: 36px;
    text-align: center;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00ad45;
}

input {
    background-color: white;
    outline: none;
    border: 0;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    color: #52565e;
    font-weight: 400;
}

button {
    border: 0;
    outline: none;
    padding: 14px 24px 14px 24px;
    background-color: #0077c8;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0091cd;
}

#result,
#result2,
#result3,
#result4,
#result5,
#remainder {
    color: #d20962;
    font-size: 28px;
    font-weight: 700;
}

fieldset {
    text-align: center;
    border: none;
    background-color: #f3f4f7;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#num1,
#num3,
#num5,
#num7,
#num9,
#firstNum {
    margin-top: 20px;
}