body {
    background-color: #f3f4f7;
    margin: 0 auto;
    text-align: center;
}

.main-container {
    width: 75%;
    margin: 0 auto;
}

.img-box {
    text-align: center;
    margin: 0, auto;
}

.title {
    font-family: "Ranchers";
    font-size: 2em;
    margin: 0;
    padding-top: 10px;
    color: #0a8ea0;
}

#header-img {
    margin: 0 auto;
    width: 12vw;
    height: auto;
}

ul {
    list-style-type: none;
}

fieldset {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin: 0 auto;
}

input {
    width: 350px;
    padding: 14px 28px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    border: 1px solid #caccd1;
    border-radius: 6px;
    outline: none;
}

.btn-content {
    text-align: center;
}

button {
    padding: 16px 28px;
    border: none;
    border-radius: 4px;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #b84592;
    color: white;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0a8ea0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

#monsters {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: .9em;
    line-height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5vh;
    padding-bottom: 5vh;
    column-gap: 20px;
    row-gap: 30px;
    margin: 0 auto;
    text-align: center;
}

ul li {
    border: 1px solid #caccd1;
    border-radius: 12px;
    background-color: white;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

ul li:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

ul li div {
    padding: 20px;
    background-color: #0a8ea0;
    border-radius: 0 0 10px 10px;
}


/* ======= Responsive Breakpoints ========== */

@media (max-width: 799px) {
    .main-container {
        width: 75%;
        margin: 0 auto;
    }
    #monsters {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    #header-img {
        margin: 0 auto;
        width: 20vw;
        height: auto;
    }
}